@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #707070;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.transition-all {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-main-yellow {
  background: #ffbd39;
  border: 1px solid #ffbd39 !important;
  color: #000000 !important;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.btn-white {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: transparent !important;
  color: #fff !important;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.big-text {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 7vw;
  color: #ffffff;
  opacity: 0.1;
  font-weight: 900;
}

.big-text-2 {
  right: 0;
}

.heading-section {
  position: relative;
}

header .navbar {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

header .navbar .logo {
  font-family: "Pacifico", cursive, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
}

header .navbar .navbar-toggler:focus {
  outline: none;
}

header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menu.svg");
  background-size: cover;
}

header .navbar .navbar-toggler .navbar-toggler-icon:focus {
  outline: none;
}

header .navbar .nav-item {
  padding: 0 20px;
}

header .navbar .nav-item .nav-link {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 0;
  border-bottom: 1px solid transparent;
}

header .navbar .nav-item .nav-link:hover {
  color: #ffbd39;
  border-bottom: 1px solid #ffbd39;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .navbar .nav-item .nav-link:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffbd39;
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.banner {
  background-color: #000000;
}

.banner .subheading {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffbd39;
}

.banner h1 {
  font-size: 60px;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 800;
}

.banner h1 span {
  font-weight: 800;
  color: #ffbd39;
}

.banner h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}

.about {
  padding: 60px 0 0;
  background-color: #000000;
}

.about h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.about .about-info {
  font-size: 18px;
  line-height: 30px;
}

.experience {
  padding: 60px 0;
  background-color: #000000;
}

.experience h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.experience .experience-box {
  width: 100%;
  margin-bottom: 30px;
  background: #ffffff1a;
  padding: 30px;
  border-radius: 5px;
}

.experience .experience-box .year {
  font-weight: 900;
  font-size: 26px;
  color: #ffbd39;
}

.experience .experience-box h2 {
  font-size: 26px;
}

.skills {
  background-color: #000000;
  padding: 60px 0;
}

.skills h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.skills .progress-wrap {
  margin-bottom: 30px;
}

.skills .progress-wrap h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #ffffff;
}

.skills .progress-wrap .progress {
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #1a1a1a;
  overflow: visible;
}

.skills .progress-wrap .progress .progress-bar {
  background-color: #ffbd39 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  border-radius: 2px;
}

.skills .progress-wrap .progress .progress-bar span {
  position: absolute;
  top: -28px;
  right: 0px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.portfolio {
  background-color: #000000;
  padding: 60px 0;
}

.portfolio h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.portfolio .box {
  border-radius: 10px;
  -webkit-box-shadow: 0 7px 20px rgba(12, 11, 11, 0.2);
  box-shadow: 0 7px 20px rgba(12, 11, 11, 0.2);
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #ffffff;
}

.portfolio .box .title {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 10px;
}

.portfolio .box .content {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.portfolio .box .content:hover .content-details {
  opacity: 1;
}

.portfolio .box .content .second-part {
  min-height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.portfolio .box .content .second-part img {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 1s ease-in-out .5s;
  transition: -webkit-transform 1s ease-in-out .5s;
  transition: transform 1s ease-in-out .5s;
  transition: transform 1s ease-in-out .5s, -webkit-transform 1s ease-in-out .5s;
}

.portfolio .box .content .second-part img:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio .box .content .content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.portfolio .content-details a.visit-site {
  background: #ffbd39;
  color: #000000;
  padding: 7px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #ffbd39;
  text-decoration: none;
}

.certification {
  background-color: #000000;
}

.certification h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.certification a.cert-box {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 40px;
  padding: 2em;
  background: #ffffff1a;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px 1px #ffffff1a;
          box-shadow: 2px 2px 2px 1px #ffffff1a;
}

.certification a.cert-box:hover {
  background: #ffbd39;
  color: #000000;
}

.certification a.cert-box:hover h3:after {
  background: #000000;
}

.certification .desc h3:after {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  content: '';
  width: 50px;
  height: 2px;
  background: #ffbd39;
  margin: 0 auto;
}

.contact {
  padding: 60px 0;
  background-color: #000000;
}

.contact h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.contact .icon {
  color: #ffbd39;
  font-size: 30px;
  width: 100px;
  height: 100px;
  background: #ffffff1a;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact h3 {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.contact p a {
  color: #707070;
}

.contact ul li {
  list-style: none;
}

.contact ul li a {
  color: #707070;
}

@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  .banner .text {
    text-align: center;
  }
  .experience {
    padding: 30px 20px;
  }
}

.contact {
  padding: 30px 0 0;
}

.portfolio {
  padding: 30px 0 50px;
}
/*# sourceMappingURL=style.css.map */